<!DOCTYPE html>
<html>
    <header>
        <meta charset="utf-8"/>
        <title>Periodic Table: Elements</title>
        <link rel="icon" href="{{url_for('static',filename="favicon.gif")}}" type="image/gif" />
        <link rel="stylesheet" href="{{url_for('static',filename="styles/w3.css")}}"/>
    </header>
    <body>
        <div class="w3-card-4">
            <header class="w3-container w3-purple">
                <h1>Tabel of Elements</h1>
                <h4><a href="/">Index</a></h4>
            </header>
            <div class="w3-container">
                <table class="w3-table-all">
                    <tr>
                        <th>Atomic Number</th>
                        <th>Symbol</th>
                        <th>Name</th>
                        <th>Group</th>
                    </tr>
                    {% for entry in data.elements %}
                    <tr>
                        <td>{{ entry.atomicNumber.value }}</td>
                        <td>{{ entry.symbol.value }}</td>
                        <td><a href="/elemento/{{ entry.atomicNumber.value }}">{{ entry.name.value }}</a></td>
                        <td><a href="/grupo/{{ entry.group.value.split('#group_')[1] }}">{{ entry.group.value.split('#group_')[1] }}</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <footer class="w3-container w3-purple">
                <h5>Gerado por RPCW2024 em {{ data.date }}</h5>
            </footer>
        </div>
    </body>
</html>